/*css to set footer at bottom */
html
{
	position:relative;
  	min-height:100%;
}
body {
   	margin-bottom:50px;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background:#CCC;
}